#container{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-image: url("Menu bg 1.png");
	background-size: cover;
	max-height: 5000px;
}

h1{
	text-align: center;
}


.link {
    color: #EDE5BB;
    text-decoration: none;
}

li:hover {
    background-color: #C96059;
}

#ouiCaffeImg {
    width: 30%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.redTitle {
    color: #EDE5BB;
    font-size: 4rem;
    text-align: center;
}

section .box{
	background-image: url("eiffel tower.png");
	background-size: cover;
	max-height: 2500px;
}

section{
	grid-column: 3/6;
	color: #EDE5BB;
	font-family: Caveat-Regular;
}

section li{
	list-style: none
}

h2{
	text-align: center;
}

#euros{
	float: left;
	position: relative;
	left: 75%;
	flex-direction: column;
	bottom: 200px;
}

#euros1{
	float: right;
	position: relative;
	right: 20%;
	flex-direction: column;
	bottom: 250px;
}


section button{
	background-color: #EDE5BB;
	position: relative;
	font-size: 20px;
	padding: 10px;
	font-family: Caveat-Regular;
	left: 216px;
	width: 180px;
}

