* {
    margin: 0;
    background-color: #EDE5BB;
    z-index: -2;
}



/*-----------*/
/*--header--*/
/*---------*/

header {
    display: inline;
}

.navBar {
    list-style-type:none;
    font-family:sans-serif;
    background-color: #95261F;
}




/*-------------*/
/*--specialist-*/
/*------------*/

.h2Title {
    color: #95261F;
    text-align: center;
}

#ourSpecialties {
    display: block;
}